article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// INDEX

body {
	background-color: #DAD7C8;
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}

.landingPage {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	color: #F63D0E;
	margin: auto;
	h1 {
		padding-top: 10px;
		margin-bottom: 20px;
		// border-top: 2px solid #F63D0E;
	}
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	input {
		width: 300px;
		height: 50px;
		border: none;
		color: #F63D0E;
		background-color: #DAD7C8;
		border-bottom: 2px solid #F63D0E;
		margin-bottom: 10px;
	}
	label {
		display: block;
		margin-bottom: 5px;
		letter-spacing: 2px;
	}
}

button[type="submit"] {
	height: 50px;
	width: 50px;
	border: none;
	color: #F63D0E;
	font-size: 2em;
	background-color: #DAD7C8;
	margin-top: 10px;
	padding: 0px;
	overflow: hidden;
	&:hover {
		color: #0065FF;
		border: none;
	}
	&:focus {
		color: #0065FF;
		border: none;
	}
}

i {
	padding: 0px;
}

.info {
	margin: 20px;
	width: 40px;
	height: 40px;
	border-radius: 10px 0px;
	background-color: #F63D0E;
	position: fixed;
	right: 0;
	border: none;
	display: flex;
	i {
		margin: auto;
		color: #DAD7C8;
	}
	&:hover {
		background-color: white;
		i {
			color: #0065FF;
		}
	}
	&:focus {
		background-color: white;
		i {
			color: #0065FF;
		}
	}
}

// INFO PAGE 

.infoBody {
	background-color: white;
}

.infoLandingPage {
	background-color: white;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
}

.aboutTWAP {
	margin: auto;
	margin-top: 100px;
	max-width: 500px;
	padding: 50px;
	h1 {
		color: #0065ff;
		font-size: 3em;
	}
	h4 {
		color: #F63D0E;
	}
	span {
		background-color: #0065FF;
		color: white;
		padding: 2px;
	}
	p {
		color: #0065FF;
		line-height: 1.3em;
		letter-spacing: 1px;
	}
	a {
		color: #F63D0E;
		// font-style: italic;
		text-decoration: none;
	}
	h6 {
		color: #0065FF;
		font-weight: 300;
	}
	h5 {
		margin-top: 75px;
		margin-bottom: 1px;
	}
}

.home {
	margin: 20px;
	width: 40px;
	height: 40px;
	border-radius: 10px 0px;
	background-color: #0065ff;
	position: fixed;
	z-index: 100;
	right: 0;
	border: none;
	display: flex;
	overflow: hidden;
	i {
		margin: auto;
		color: #F63D0E;
	}
	&:hover {
		background-color: #F63D0E;
		i {
			color: white;
		}
	}
	&:focus {
		background-color: #F63D0E;
		i {
			color: white;
		}
	}
}

// ANIMATIONS

      .slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

        .slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideOutDown {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  }
  }
  @keyframes slideOutDown {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  }
  } 

      .slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  } 

         .slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 